@import url('https://fonts.googleapis.com/css2?family=Manuale:wght@400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --primaryTextColor: white;
    --secondaryTextColor: #B9B7B7;
    --borderColor: #0009C4;
    --primaryBackgroundColor:#010bd7;
    --secondaryBackgroundColor: #3572EF;
    --sectionPadding: 6rem 0;
    --itemBorderRadius: 0.7rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "manuale", sans-serif;
    background-color:#010bd7; /* Background untuk keseluruhan halaman */
  
}

h1, h2, h3, h4, h6, strong {
    color: var(--primaryTextColor);
}

p, span, label, input, textarea, li {
    color: var(--primaryTextColor);
}

a {
    text-decoration: none;
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

header {
    padding: 1rem 0;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: #000792;
    position: fixed;
    margin-bottom: 64px;
}

.navbar {
    display: flex;
    margin-right: 5rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar :hover{
    color: #0091D2;
   
}

.navbar1:hover {
    transform: scale(1.2);
    color: #0091D2;
}

.logo a {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primaryTextColor);
}

.navbar nav {
    display: flex;
    gap: 2rem;
}

.navbar nav a {
    color: var(--primaryTextColor);
    font-family: "Manuale", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    margin-bottom: -1.5rem;
}

.btn {
    background-color: var(--secondaryBackgroundColor);
    color: white;
    border: none;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    border-radius: var(--itemBorderRadius);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, opacity 1s ease-in-out;
}

.btn:hover {
    color:#ffffff;
    background-color: var(--primaryBackgroundColor);
    opacity: 0.7;
}


.burger {
    display: none;  /* Default tidak terlihat */
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    z-index: 9;  /* Agar burger di atas konten lainnya */
}




.burger div {
    width: 25px;
    height: 2px;
    background-color:#ffff;
    transition: all 0.3s;
    margin: 5px;
    z-index: 99;
}
.burger .line {
    width: 25px;
    height: 3px;
    background-color: #000;
    transition: 0.3s;
}

nav.active {
    right: 0; /* Muncul ke layar */
}
/* bagian home dan about */

#hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--sectionPadding);
    color: var(--primaryTextColor);
    margin-left: 65px;
    margin-top: -1rem;
}

.hero-left {
    max-width: 250px;
}

.hero-right {
    position: relative;
    margin-right: 8rem; /* Menyelaraskan margin dengan padding kontainer */
    width: 450px;
}

.hero-left h3.pre-title {
    color: var(--primaryTextColor);
    font-weight: 300;
    font-size: 1.5rem;
}

.hero-left h1.hero-name {
    font-size: 2.2rem; /* Meningkatkan ukuran font */
    font-weight: 700;
}

.hero-left h3.hero-job, .hero-left h3.hero-portofolio {
    font-size: 1.7rem; /* Sedikit lebih besar */
    font-weight: 400;
    margin-top: 10px;
}

.hero-left h3.hero-portofolio {
    font-weight: 400;
    margin-top: 0.5rem;
    margin-bottom: 1rem; /* Tambahkan margin bawah untuk memberi jarak ke ikon sosial */
}

.social-links {
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem; /* Jarak atas untuk memberi ruang */
    justify-content: flex-start;
    align-items: flex-start;
}

.social-links i:hover {
    color: #ffffff;
}

i {
    font-size: 2em;
    color: #000000;  
    margin-top: -4px;
}


#about h1 {
    font-size: 2rem;
}

#background1 {
    background-color: #010bd7;
    margin-top:5rem;
    border: solid red;
   
}

.about {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--primaryBackgroundColor);
    padding: 2rem 3rem;
    background-color: var(--primaryBackgroundColor);
    border-radius: 20px;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.2;
    transform: translateX(-20px);
    width: fit-content;
    height: 50px;
    color: var(--primaryBackgroundColor);
    max-width: 100%;
}

#page2 img {
    width: 400px;
    height: auto;
    border-radius: var(--itemBorderRadius);
    margin-right: -25px;
}

#page2 {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.content-wrapper {
    display: flex;
    align-items: center;
    gap: 3rem;
    max-width: 1100px;
    background-color: #0008a9;
    border-radius: 15px;
    padding: 0px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}

#page2 p {
    max-width: 600px;
    font-size: 20px;
    line-height: 25px;
    margin-left: 25px;
}
/* bagian skil */
#skill {
    background-color:#010bd7 ;
    padding-top:6rem ;
    margin-top:1rem ;

}

.skill {
    overflow: hidden; /* Membatasi area tampilan */
    width: 300px; /* Atur lebar kontainer */
    height: 200px; /* Atur tinggi kontainer */
    display: inline-block; /* Agar kontainer sesuai ukuran gambar */
    border-radius: 10px; /* Opsional, membuat sudut kontainer melengkung */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Opsional, menambah bayangan */
  }
  
  /* Gaya untuk gambar */
  .skill img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Menjaga proporsi gambar */
    transition: transform 0.3s ease; /* Animasi saat hover */
  }
  
  /* Efek hover */
 
#page3 {
   text-align: center;
   margin-top: 3rem; 
   /* border: red solid; */
   padding-top: 2.8rem;
}
#page3 h1 {
    margin-bottom: -10px;
    margin-top: 1rem;
}

#page3 p {
    color: #000000;
    font-family: "Manuale", sans-serif;
    font-size: 19px;
}

.isi-gambar5, .js {
    border-radius:15px ;
}

.skil-atas,
.skil-bawah {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 5rem;
    margin-top: 2rem;
    flex-wrap: wrap; /* Membungkus elemen jika tidak cukup dalam satu baris */
}



.skil-atas {
    display:flex;
    justify-content: center;
    text-align: center;
    gap: 5rem;
    margin-top: 2rem;
}

.html {
    margin-top: 10px;
}

.isi-gambar, .isi-gambar2, .isi-gambar3, .isi-gambar4, .isi-gambar5 {
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6); 
    background-color: #ffffff;
    width: 10rem;
    height: 10em;
    padding-top: 5px;
}

.isi-gambar:hover, 
.isi-gambar2:hover, 
.isi-gambar3:hover, 
.isi-gambar4:hover, 
.isi-gambar5:hover {
    transform: scale(1.1); /* Memperbesar elemen saat hover */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Menambahkan transisi yang halus */
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8); /* Memberikan efek cahaya */
}

.skil-bawah {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 5rem;
    margin-top: 3rem;
}

/* bagian bar */
.bar {
    width: 100%;
    height: 15px;
    background-color: #B9B7B7;
    border-radius: 30px;
    margin-top: 1rem;
}

.bar div {
    height: 100%;
    border-radius: inherit;
}

.bar1 {
    width: 75%;
    background-color: rgb(255, 94, 0);
}
.bar2 {
    width: 75%;
    background-color: rgb(0, 157, 255);
}
.bar3 {
    width: 60%;
    background-color: rgb(255, 17, 0);
}
.bar4 {
    width: 20%;
    background-color: rgb(0, 12, 143);
}
.bar5 {
    width: 45%;
    background-color: rgb(255, 94, 0);
}





/* bagian project */


#page-project {
    margin: 73px;
    border-radius: 25px;
    padding: 23px;
}

.project {
    background-color: var(--primaryBackgroundColor);
    margin-top: 5rem;
    margin-bottom: 10px;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.2;
    width: fit-content;
    height: 50px;
    padding: 20px;
}

img {
    max-width: 100%; /* Ensures the image scales down */
    height: auto; /* Maintain aspect ratio */
}



/* bagian 1 */
.judul-project {
    font-size: 1.9rem;

}

#page4 , .tbl1{
    background-color: #00078b;
    padding: 5rem;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6); 
}

.tulisan, .gbr1 , .tbl1{
    margin-top: 3rem;
    /* display: flex; /* Aktifkan Flexbox */
    align-items: center; /* Sejajarkan elemen secara vertikal */
    justify-content: space-between; 
    font-size: 2rem;
}

.gbr1 {
        position: relative; /* Membuat elemen dapat diposisikan relatif terhadap posisinya saat ini */
        left: 100%; /* Memindahkan elemen sejauh 100% dari posisi aslinya */
        transform: translateX(-100%); /* Membawa elemen kembali sepenuhnya ke dalam tampilan */
        text-align: right; /* Opsional: Jika ada teks, sejajarkan ke kanan */
        margin-top: -250px;
        Filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 1));
}

.tbl1 {
    background-color:rgb(0, 0, 157);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: var(--itemBorderRadius);
    display: inline-block;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
    font-size: 1.5rem;
    position: relative; /* Pastikan tombol berada di atas elemen lain */
    z-index: 10; /* Bawa tombol ke atas */
}

.tbl1:hover {
    color: #ffffff;
    background-color: rgb(20, 20, 255);
    opacity: 0.7;
}

/* bagian 2 */
#page5, .tbl2 {
    margin-top: 15rem;
    background-color: #00078b;
    padding: 5rem;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6); 
}

.project-container {
    display: flex; /* Atur elemen dalam satu baris */
    align-items: center; /* Vertikal sejajar tengah */
    gap: 2rem; /* Tambahkan jarak antar elemen */
}


.judul2, .tulisan2 {
    position: relative; /* Tetap gunakan posisi relatif */
    transform: translateX(0); /* Hapus transformasi */
    left: 0; /* Reset posisi */
    text-align: left; /* Atur teks rata kiri */
    margin-top: 0; /* Sesuaikan margin atas */
    margin-left: 3rem;
}

.tulisan2 {
    font-size: 2rem;
    line-height: 1.5;
}

.gbr2 {
    flex: 1; /* Gambar akan mengambil ruang proporsional */
    Filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 1));
    
}

.content {
    flex: 1; /* Konten judul dan tulisan menempati ruang proporsional */
    display: flex;
    flex-direction: column; /* Tata letak vertikal untuk judul dan tulisan */
    align-items: flex-start; /* Atur ke kiri */
}

.judul2{
    margin-top: -100px;
    font-size: 1.5rem;
    font-weight: bold;  
    margin-bottom: 1rem; 
}

.tbl2{
    background-color:rgb(0, 0, 157);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: var(--itemBorderRadius);
    display: inline-block;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
    font-size: 1.5rem;
    position: relative; /* Pastikan tombol berada di atas elemen lain */
    z-index: 10; /* Bawa tombol ke atas */
    margin-top: 3rem;
    align-self: flex-start; 
}

.tbl2:hover {
    color: #ffffff;
    background-color: rgb(20, 20, 255);
    opacity: 0.7;
}

/* bagian3 */

#page6 {
    margin-top: 15rem;
    background-color: #00078b;
    padding: 5rem;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6); 
}

.judul-project3 {
    font-size: 1.9rem;

}

.tulisan3, .gbr3, .tbl3{
    margin-top: 3rem;
    /* display: flex; /* Aktifkan Flexbox */
    align-items: center; /* Sejajarkan elemen secara vertikal */
    justify-content: space-between; 
}

.gbr3 {
        position: relative; /* Membuat elemen dapat diposisikan relatif terhadap posisinya saat ini */
        left: 100%; /* Memindahkan elemen sejauh 100% dari posisi aslinya */
        transform: translateX(-100%); /* Membawa elemen kembali sepenuhnya ke dalam tampilan */
        text-align: right; /* Opsional: Jika ada teks, sejajarkan ke kanan */
        margin-top: -250px;
        Filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 1));
}

.tbl3 {
    background-color:rgb(0, 0, 157);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: var(--itemBorderRadius);
    display: inline-block;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
    font-size: 1.5rem;
    position: relative; /* Pastikan tombol berada di atas elemen lain */
    z-index: 10; /* Bawa tombol ke atas */
}

.tbl3:hover {
    color: #ffffff;
    background-color: rgb(20, 20, 255);
    opacity: 0.7;
}

/* bagian project 4 terakhir */

#page7 {
    margin-top: 15rem;
    margin-bottom: 5rem;
    background-color: #00078b;
    padding: 7rem;
    padding-top: 10rem;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6); 
    

}

.project-container4 {
    display: flex; /* Atur elemen dalam satu baris */
    align-items: center; /* Vertikal sejajar tengah */
    gap: 2rem; /* Tambahkan jarak antar elemen */
}

.judul4 {
    font-size: 1.9rem;
}


.judul4, .tulisan4 {
    position: relative; /* Tetap gunakan posisi relatif */
    transform: translateX(0); /* Hapus transformasi */
    left: 0; /* Reset posisi */
    text-align: left; /* Atur teks rata kiri */
    margin-top: 0; /* Sesuaikan margin atas */
    margin-left: 3.5rem;
   
}

.tulisan4 {
    font-size: 2rem;
    line-height: 1.5;
}

.gbr4 {
    flex: 1; /* Gambar akan mengambil ruang proporsional */
    Filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 1));
}

.content4{
    flex: 1; /* Konten judul dan tulisan menempati ruang proporsional */
    display: flex;
    flex-direction: column; /* Tata letak vertikal untuk judul dan tulisan */
    align-items: flex-start; /* Atur ke kiri */
}

.judul4{
    margin-top: -100px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem; 
}

.tbl4{
    background-color:rgb(0, 0, 157);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: var(--itemBorderRadius);
    display: inline-block;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
    font-size: 1.5rem;
    position: relative; /* Pastikan tombol berada di atas elemen lain */
    z-index: 10; /* Bawa tombol ke atas */
    margin-top: 3rem;
    align-self: flex-start; 
}

.tbl4:hover {
    color: #ffffff;
    background-color: rgb(20, 20, 255);
    opacity: 0.7;
}

/* bagian contact */

#background {
    background-color:#010bd7 ;
    padding-top:4.5rem ;
    /* border: red solid; */
    margin-top: 15rem;
}
#page8{
    padding: 3rem;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6); 
    width: fit-content;
    align-items: center;
    justify-content: center;
}

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dua kolom untuk desktop */
    gap: 3rem;
}

.contact-form div {
    margin-top: 1rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding:.75rem 1.3rem;
    font-family: "Roboto",sans-serif;
    border: 2px solid var(--primaryBackgroundColor);
    background:whitesmoke;    
    border-radius: 15px;
    resize: none;
    color: black;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: black;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border: 2px solid var(--primaryColor);
}

.contact-right {
    margin-left:7rem ;
    margin-top: 2rem;
}

.btn-submit {
    background-color: var(--secondaryBackgroundColor);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: var(--itemBorderRadius);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, opacity 1s ease-in-out;
    font-size: 20px;
}

.btn-submit:hover{
    color:#ffffff;
    background-color: var(--primaryBackgroundColor);
    opacity: 0.7;
    
}

/* footer */
footer {
    margin-top: 7rem;
    background: #000792;
    display: flex;             /* Mengaktifkan Flexbox */
    flex-direction: column;    /* Elemen ditumpuk secara vertikal */
    align-items: center;       /* Menempatkan elemen ke tengah horizontal */
    justify-content: center;   /* Menempatkan elemen ke tengah vertikal */
    color: #fff;               /* Warna teks */
    padding: 20px;             /* Spasi dalam footer */
    text-align: center;        /* Tengah untuk teks */
    
}

#footer2 p {
    font-size: 50rem;
}


footer a {
    color: #fff;               /* Warna ikon */
    margin: 0 10px;            /* Jarak antar ikon */
    font-size: 1.5rem;         /* Ukuran ikon */
    text-decoration: none;     /* Hilangkan garis bawah */
}

footer i:hover {
    color: #fff;            /* Warna saat ikon di-hover */
}

.footer2 {
    margin-top: 10px;
    margin-bottom: 1.5rem;
}

